@media screen and (max-width:92px){
    .Name{
        text-align: center;
        text-decoration: none;
        font-size: 10px;
    }
    .Name a{
        text-decoration: none;
        color: #EA4335;
        border-bottom: 1px solid #EA4335;
    }
}
@media screen and (max-width:55px){
    .Name{
        text-align: center;
        text-decoration: none;
        font-size: 8px;
    }
    .Name a{
        text-decoration: none;
        color: #EA4335;
    }
}
