*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Risque', cursive;
}
.Name{
    text-align: center;
    text-decoration: none;
}
.Name a{
    text-decoration: none;
    color: #EA4335;
}
